body {
  font-family: "Special Elite", cursive;
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  color: #333;
  &:hover {
    text-decoration: none;
  }
}

.col-lg-3 {
  img {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.navbar {
  justify-content: space-between;
  opacity: 0.8;
  .navbar-collapse {
    flex-grow: unset;
  }
}

.bg-dark {
  color: white;
  a {
    color: white;
  }
}

.carousel-control {
  &-prev,
  &-next {
    i {
      color: black;
    }
  }
}

.carousel-inner {
  img {
    height: 90vh;
  }
}
