.btn-main, .btn-light, .btn-dark, .btn-medium {
  display: inline-block;
  padding: 0.8rem 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background-color: #ffbc00;
}

.btn-light {
  color: #333;
  background-color: #f4f4f4;
}

.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

.btn-medium {
  color: #f4f4f4;
  background-color: #333;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #ffbc00;
}

.bg-main {
  background: #ffbc00;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #000;
}

.bg-medium {
  background: #ccc;
  color: #000;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  padding-top: 4rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 2rem auto;
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rbga(0, 0, 0, 0.3);
}

#rendering .items {
  -ms-grid-columns: 30% 30%;
      grid-template-columns: 30% 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

@media (min-width: 801px) {
  .item {
    position: relative;
    text-align: center;
    background: #ffbc00;
    overflow: hidden;
    cursor: pointer;
  }
  .item-name {
    display: none;
  }
  .item::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
            transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }
  .item:hover:after {
    -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
            transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }
  .item:hover .item-image {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .item:hover .item-text {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .item-image {
    height: auto;
    display: block;
    background: white;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }
  .item-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }
  .item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }
  .item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
  }
  .item-text-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
  }
  .item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
  }
  #rendering .item-image:before {
    padding-top: 130%;
  }
  #lookBook .item-image:before {
    padding-top: 120%;
  }
}

.slides {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.slides .item::after {
  height: 10%;
}

.slides img.slide {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slides img.slide:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slides .slider i {
  color: black;
}

.slides .slider li {
  border-bottom: 0.2rem solid black;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

section {
  min-height: 80vh;
}

body {
  font-family: 'Special Elite', cursive;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#backToTop {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

#logo {
  width: 70px;
  height: 90px;
  color: #fff;
  text-transform: uppercase;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  top: 0;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
}

#main-nav li ul {
  visibility: hidden;
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#main-nav li ul li a {
  color: #000;
}

#main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#main-nav a:hover {
  border-color: #333;
}

#main-nav a.current {
  border-color: #ffbc00;
}

#header-home {
  background: url(../img/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#header-home .header-content {
  text-align: center;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#header-home .header-content div a {
  display: inline-block;
  margin-left: -70px;
  position: absolute;
  bottom: 15%;
}

#header-inner {
  background: url(../img/showcase.jpg) no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solod #ffbc00;
}

#home-a .specials {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#home-a .specials .fas,
#home-a .specials .fab {
  color: #ffbc00;
  padding-bottom: o 0.4rem;
}

#home-b .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#home-b .stats li {
  line-height: 2;
}

#home-b .stats li.stats-title {
  font-size: 1.5rem;
}

#home-b .stats li.stats-number {
  font-size: 2rem;
}

#home-b .stats div {
  padding: 3rem 0;
}

#home-b .stats div:nth-child(odd) {
  background: #f4f4f4;
}

#home-b .stats div:nth-child(even) {
  background: #ccc;
}

#about-a {
  min-height: 0;
}

#about-a .about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bioimage bio bio" "aw1 aw2 aw3";
  grid-gap: 1.2rem;
}

#about-a .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
}

#about-a .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-a .text-fields {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name email" "subject phone" "message message";
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;
}

#contact-a .text-fields input,
#contact-a .text-fields textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-a .text-fields .name-input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

#contact-a .text-fields .subject-input {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

#contact-a .text-fields .email-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subject;
}

#contact-a .text-fields .phone-input {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

#contact-a .text-fields .message-input {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  height: 100px;
}

#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

#contact-a button[type="submit"] {
  width: 50%;
  border-radius: 5px;
}

#contact-b .contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#contact-c h1 {
  text-align: center;
  font-size: 4rem;
}

#work {
  background: #f4f4f4;
}

#work-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 50vh;
}

#work-a div {
  display: inline-block;
  height: 30%;
  width: 30%;
}

#work-a div a img {
  border-radius: 5px;
}

#work-a div a img:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#collections {
  margin: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#collections div {
  width: 30%;
}

#collections div img {
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

#collections div img:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-footer {
  background: #333;
  color: #fff;
  height: 2rem;
}

#main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sub-footer {
  background: #333;
  color: #fff;
}

#sub-footer a {
  color: #fff;
}

#sub-footer a:hover {
  color: #ffbc00;
}

#sub-footer .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sub-footer .container-fluid ul {
  text-align: center;
}

#sub-footer .container-fluid .social .fab {
  margin-right: 1rem;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

#sub-footer .container-fluid .social .fab:hover {
  background: #ffbc00;
}

@media (min-width: 801px) {
  #main-nav li ul li ul:hover {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background: #f4f4f4;
  }
  #main-nav a + ul:hover {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background: #f4f4f4;
  }
  #main-nav a:hover {
    border-color: #333;
  }
  #main-nav a:hover + ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    background: #f4f4f4;
  }
  #main-nav a.current {
    border-color: #ffbc00;
  }
}

@media (max-width: 800px) {
  .section-title {
    padding-top: 1rem;
  }
  #header-home .header-content {
    padding-top: 2rem;
  }
  #collections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #collections div {
    width: 50%;
  }
  #sub-footer {
    text-align: center;
  }
  #sub-footer .container-fluid {
    display: block;
    height: 100%;
  }
  #sub-footer .container-fluid div {
    margin: 2rem 0;
  }
  .items {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .items .item {
    text-align: center;
    margin: 1rem 0;
  }
  .items .item img {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .slides {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  #work-a {
    margin-top: 0;
    padding-bottom: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #work-a div {
    width: 80%;
  }
}

@media (max-width: 500px) {
  #collections div {
    width: 100%;
  }
  #backToTop.btn-dark {
    padding: 0.8rem 1rem;
  }
  #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-nav li {
    padding: 0.5rem;
  }
  #header-home {
    border-bottom: 3px solid #ffbc00;
    background-position: 50% 30%;
  }
  #header-home .header-content h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  #header-inner {
    height: 10rem;
  }
  #home-a .specials,
  #home-b .stats,
  #home-c .process,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #home-a .specials div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem;
  }
  #home-a .specials div:last-child {
    border: none;
    padding-bottom: 0;
  }
  #home-b .stats div {
    padding: 2rem 0 1rem 0;
  }
  #about-a .about-info {
        grid-template-areas: "bioimage" "bio" "aw1" "aw2" "aw3";
  }
  #about-c {
    display: none;
  }
  #contact-a .text-fields {
        grid-template-areas: "name" "subject" "email" "phone" "message";
  }
  #contact-b div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px #555 solid;
  }
  #contact-b div:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #contact-c h1 {
    font-size: 2rem;
  }
  #main-footer {
    height: 3rem;
  }
  #main-footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    height: 3rem;
  }
}

@media (max-height: 580px) {
  .section-title {
    padding-top: 3rem;
  }
  #header-home .header-content {
    padding-top: 3rem;
  }
  #header-home .header-content div a {
    bottom: 0;
  }
  #header-home h1 {
    display: none;
  }
  #work-a {
    height: 0;
  }
}

@media (max-height: 330px) {
  #header-home .header-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 330px) {
  #main-nav li {
    padding: 0.2rem;
  }
}
/*# sourceMappingURL=app.css.map */